@media (min-width: 1200px) {
    
    .main_ask_area div.input-group img {
        right: 21em;
    }
}
@media only screen and (min-width: 1000) and (max-width: 1199px) {

    .feature {
        padding-top: 30px;
    }
    .main_feature_area span.title-fitur {
        padding-top: 7%;
        font-size: 4em;
        left: 11%;
    }
}

@media (max-width: 992px ) {
    #site-content {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .main_feature_area .mobile .detail {
        position: relative;
        bottom: 30em;
        left: 25%;
        width: 50%
    }
    .main_feature_area div#mobile-slider.owl-carousel.owl-theme div.owl-controls {
        position: relative;
        bottom: 6em;
    }

}
@media (min-width: 1024px) {
    .main_feature_area span.title-fitur {
        position: absolute;
    }
    .main_feature_area div#mobile-slider.owl-carousel.owl-theme {
        width: 70%;
        margin-left: 30%;
    }
    .main_feature_area .mobile .detail {
        position: relative;
        bottom: 40em;
        left: 30%;
        width: 45%;
    }
    .main_feature_area div#mobile-slider.owl-carousel.owl-theme div.owl-controls {
        position: relative;
        bottom: 9em;
        right: 20%;
    }

}

@media only screen and (min-width: 788px) and (max-width: 991px) {
    .main_feature_area {
        padding-top: 20px;
    }
    .main_feature_area span.title-fitur {
        position: static;
    }
    .feature {
        height: auto;
        padding: 0;
    } 


    /* ========= Contact Page ========= */
    div.body-contact {
        padding: 60px 0px;
        height: auto;
    }
}

@media only screen and (min-width: 700px) and (max-width: 787px) {
    .home-banner {
        background-position: bottom center;
    }
    .home-banner .main_banner_area {
        padding: 70px 20px 0;
    }

    .feature {
        height: auto;
        padding: 0;
    }
    .main_feature_area {
        position: relative;
        bottom: 10em;
        height: 770px;
    }
    .main_feature_area span.title-fitur {
        position: static;
        padding: 0 2em;
        font-size: 4em;
        color: #eeeeee;
    }
    .main_feature_area div#mobile-slider.owl-carousel.owl-theme {
        padding-bottom: 50px;
        position: relative !important;
        bottom: 0 !important;
    }
    .main_feature_area .owl-carousel .mobile .pic img {
        width: 40% !important;

    }

    /* ========= Route Page ========= */
    div.body-route div.main_route_area div.text-center h3 {
        padding-top: 20px;
    }

    /* ========= Safety Page ======== */
    div.main_checklist_area div.attention-card {
        padding-bottom: 20px;
    }
    div.main_checklist_area div.attention-card .head-checklist img,
    div.main_checklist_area div.attention-card ul li img {
        width: 4%;
    }

    .main_tips_area .tips-card ul li:before {
        left: 11%;
    }

    /* ========= FAQ Page ========= */
    .body-ask .main_ask_area {
        width: 70%;
        left: 15%;
    }
    .main_ask_area div.input-group img {
        height: 2em;
        right: 15.3em;
        top: 0.8em;
    }

    .main_topik_area .artikel-widget {
        margin-top: 30px;
    }
        
    /* ========= Privacy Page ========= */
    .body-privacy .nav-card {
        width: 80%;
    }

    div.foot-social div.main_foot_area div.col-1 {
        padding-bottom: 30px;
    }
}
@media (max-width: 767px ) {
    nav.navbar {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }


    /* ========= Contact Page ========= */
    div.body-contact {
        padding: 60px 0px;
        height: auto;
    }

    .footer .right-col ul {
        padding-left: 0px;
    }
    .footer section .left-col ,
    .footer section .right-col {
        padding: 0 15px;
        text-align: center;
    }
}

@media only screen and (min-width: 501px) and (max-width: 699px) {

    /* ======== FAQ Page ========= */
    .body-ask .main_ask_area {
        transform: translate(35%, 70%);
    }

    .main_ask_area div.input-group img {
        position: absolute;
        height: 2.5em;
        right: 11.3em;
        top: 0.7em;
        z-index: 11;
        height: 30px;
    }
    .main_ask_area div.input-group input.form-control {
        padding-left: 13%;
    }
    
    /* ======== Privcacy Page ========= */
    div.nav-privacy-page li.nav-item a {
        font-size: 14px;
        padding: 10px 4px;
    }

}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    /* Home-Banner */
    .home-banner {
        height: 500px;
        background-position: bottom center;
    }
    .home-banner .main_banner_area {
        padding: 70px 20px 0;
    }
    .home-banner .main_banner_area img.logo-nompang {
        width: 60%;
    }
    .home-banner .main_banner_area h2 {
        font-size: 2em;
    }
    .main_banner_area span {
        font-size: 1.2em;
    }
    .home-banner .button-store .img-promo {
        margin-bottom: 10px;
        width: 135px;
        display: inline;
    }

    /* Feature */
    section.feature {
        height: auto;
    }
    .main_feature_area div#mobile-slider.owl-carousel.owl-theme {
        padding-bottom: 50px;
        position: relative !important;
        bottom: 0 !important;
    }
    .main_feature_area .owl-carousel .mobile .pic img {
        margin-left: 13%;
        width: 70% !important;
    }
    .main_feature_area .owl-carousel .mobile .detail {
        padding: 50px 40px 0;
    }
    .main_feature_area .owl-carousel .mobile .detail strong {
        font-size: 20px;
    }
    .main_feature_area strong span {
        padding: 3px 9px;
    }

    /* How it's work */
    section.work .main_work_area h3 {
        padding: 0 13px 40px;
        font-size: 30px;
    }
    div.main_work_area ul {
        padding: 0;
    }

    /* Core Value */
    .core-value h3 {
        padding-bottom: 45px;
    }
    .core-value .col-md-4 {
        padding-bottom: 30px
    }
    .core-value p.desc {
        padding: 15px 40px;
    }

    .popular h3 {
        padding: 0 20px 40px;
    }

    /* ========= Route Page ========= */
    div.body-route div.main_route_area div.text-center h3 {
        padding-top: 40px;
    }

    /* ========= Safety & Trust Page ========= */
    div.main_safety_area h3 {
        padding: 0 5px 2em;
        font-size: 24px;
    }
    .main_checklist_area h3 {
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    div.main_checklist_area div.attention-card {
        padding-bottom: 25px;
    }

    .main_tips_area div {
        padding: 0;
    }

    .main_label_area .label-card h3 {
        font-size: 20px;
    }
    

    .main_terms_area .head-title {
        padding-top: 10%;
    }
    
    /* ========= FAQ Page ========= */
    .body-ask .main_ask_area {
        width: 80%;
        left: 10%;
    }
    .main_topik_area .artikel-widget {
        margin-top: 30px;
    }

    /* ========= Privacy Page ========  */
    .body-privacy .nav-privacy-page {
        position: absolute;
    }
    .body-privacy div.tab-content {
        padding-top: 6em;
    }
    .body-privacy .nav-card {
        bottom: 4em;
    }
    .body-privacy .nav-card ul {
        display: block;
    }

    /* ========= Contact Page ========= */
    div.body-contact {
        padding: 60px 0px;
        height: auto;
    }

    /* Footer */
    div.foot-social div.main_foot_area div.col-1 {
        padding-bottom: 30px;
    }

}
@media (max-width: 333px) {
    /* Home-Banner */
    .home-banner {
        height: 500px;
        background-position: bottom center;
    }
    .home-banner .main_banner_area {
        padding: 80px 20px 0;
    }
    .main_banner_area .logo-nompang {
        width: 65%;
    }
    .home-banner .main_banner_area h2 {
        font-size: 1.9em;
    }
    .main_banner_area span {
        font-size: 1.3em;
    }
    .home-banner .button-store .img-promo {
        margin-bottom: 10px;
        display: inline;
    }

    /* Feature */
    .main_feature_area span.title-fitur {
        position: static;
        padding: 0 1.5em;
    }
    .main_feature_area .owl-carousel .mobile .pic img {
        margin-left: 10%;
        width: 80% !important;
    }

    /* Popular */
    
    
    /* ========= FAQ Page ========  */
    .body-ask .main_ask_area {
        left: 10%;        
    }
    .body-topik .main_topik_area h3.title-topik {
        font-size: 35px;
    }
    .main_topik_area .topik-card {
        padding: 15px 0px;
        padding-left: 26%;        
    }

    .main_topik_area .artikel-widget {
        margin-top: 30px;
    }

    /* ========= Route Page ========  */
    div.body-route div.main_route_area div.text-center h3 {
        padding-top: 40px;
    }

    /* ========= Privacy Page ========  */
    .body-privacy .nav-privacy-page {
        position: absolute;
    }
    .body-privacy div.tab-content {
        padding-top: 6em;
    }
    .body-privacy .nav-card {
        bottom: 7em;
    }
    .body-privacy .nav-card ul {
        display: block;
    }

    /* ========= Safety Page ========= */
    div.main_checklist_area .attention-card .head-checklist img {
        padding: 0;
        padding-bottom: 20px;
    }
    div.main_checklist_area  ul {
        padding: 15px 20px 0;
    }
        div.main_tips_area div.tips-card span {
        font-size: 20px;
    }
    div.main_tips_area div.tips-card ul {
        padding-left: 15px;
    }
    div.main_label_area div.label-card h3 {
        font-size: 22px;
        padding: 10px 20px;
        width: 100%;
    }

    /* Footer */
    .main_foot_area .logo-footer {
        height: 50px;
    }
    .foot-social, .footer {
        text-align: center;
    }
    .foot-social .language {
        margin-bottom: 30px;
    }
    .foot-social ul.link-social {
        text-align: left;
    }
    .footer p {
        font-size: 12px;
    }
    .footer section .left-col ,
    .footer section .right-col {
        padding: 0 15px;
        text-align: center;
    }
    .footer .right-col ul {
        padding-left: 0px;
    }
    .footer .right-col ul li {
        display: inline-block;
        font-size: 11px;
    }
}

