@import url('https://fonts.googleapis.com/css?family=Cabin:700|Josefin+Slab:400,600,700');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #f0f1f8;
}
h1 {
    font-size: 7em;
    font-weight: bold;
}
h2 {
    font-size: 4.4em;
    font-weight: bold;
}
h3 {
    font-size: 3em;
    font-weight: bold;
}
hr {
    margin: 0;
    height: 3px;
    background-color: #d0d0d0;
}
.head-title {
    text-align: center;
    padding-bottom: 40px;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* Navbar */
.navbar {
    margin-bottom: 0px;
}
.navbar-collapse {
    background-color: rgb(255, 255, 255)
}
.navbar .nav a {
    color: #232f4a !important;
    font-size: 20px;
}
.navbar .navbar-brand img {
    width: 26px;
}
.nav i {
    font-size: 25px;
}
.navbar .nav li a {
    font-weight: bold;
}
.navbar #nav > .active > a {
    color: #1b9dd7 !important;
    background-color: #fff;
    border-bottom: 3px solid #1b9dd7;
}
.navbar .nav li:hover a {
    color: #1b9dd7 !important;
    transition: all 0.4s ease;
}

/* Home Banner */
.home-banner {
    background: url('../img/banner-home.png') bottom right;
    background-color: #f0f1f8;
    background-size: cover;
    height: 678px;
}
.logo-nompang {
    width: 45%;
}
.main_banner_area {
    padding-top: 90px;
    color: #fff;
}
.main_banner_area h2 {
    margin-bottom: 20px;
}
.main_banner_area span {
    font-size: 1.5em;
}
.main_banner_area .button-store {
    margin-top: 15px;
}
.img-promo {
    width: 250px;
    margin-right: 20px
}

/* Feature */
.feature {
    background-color: #f0f1f8;
    color: #212d46;
    height: 700px;
}
.main_feature_area span.title-fitur {
    position: relative;
    left: 15%;
    padding-top: 8%;
    font-size: 4.4em;
    font-weight: bold;
}
.main_feature_area div.mobile strong {
    font-size: 2em;
}
.main_feature_area .owl-carousel .mobile .pic img {
    width: 60%;
    background-color: #f0f1f7;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 16px 40px 0px #000;
}
.main_feature_area strong span {
    background-color: #212d46;
    color: #fff;
    padding: 1px 9px;
    border-radius: 50%;
}
.owl-theme .owl-controls .owl-page span {
    background-color: #2b2f2e;
}

/* How it's work */
.work {
    background-color: #fff;
    padding: 60px 0;
}
.work h3 {
    color: #232f4b;
    text-align: center;
    padding-bottom: 40px;
}
.work h4 {
    padding-left: 20px;
    font-weight: bold;
}
.work h4.title-1:before {
    content: "\f193";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 15px;
}
.work h4.title-2:before {
    content: "\f2be";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 15px;

}
.main_work_area div {
    padding: 0 50px;
}
/* Core Value */
.core-value {
    background-color: #ffffff;
    color: #232f4a;
    padding: 20px 0px 70px;
}
.core-value span {
    font-size: 30px;
    font-weight: 700;
}
.core-value p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.core-value span {
    font-family: 'Cabin', sans-serif;
}
.core-value p.desc {
    padding: 15px 0px;
}
.core-value div.text-right {
    padding-right: 15px;
    font-size: 17px;
}
.core-value .fitur_logo {
    width: 60px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.core-value .avatar_img {
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;
}

.core-value div.text-right ul li {
    display: inline-block;
}

/* Video Promo */
.video-area {
    position: relative;
    background: url('../img/video-bg.png') no-repeat center center/cover;
  }
  
  .video-area .overlay-bg {
    background: #232f48ad;
  }
  
  .video-area .video-content {
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .video-area .video-content a {
    display: inline-block;
    margin-bottom: 20px;
  }
/* Most Popular Routes */
.popular {
    background-color: #fff;
    color: #212d46;
    padding: 80px 0px;
}
.popular h3 {
    text-align: center;
    padding-bottom: 50px;
}
.popular .card {
    margin: 0 40px;
    border-radius: 30px !important;
    box-shadow:1px 5px 13px 4px #888888
}
.popular .card-title {
    position: absolute;
    top: 10%;
    left: 25%;
}
.popular .card-title p {
    font-weight: bold;
    color: #fff;
    font-size: 3em;
}
.popular .card-img {
    border-radius: 27px 27px 0 0;
}
.popular .card-body p {
    font-weight: bold;
    font-size: 2.5em;
    padding: 15px 50px 20px;
}

/* ========= FAQ Page ========= */
.body-faq {
    background-color: #ffffff;
    color: #232f4a;
    height: 100vh;
    padding: 30px 0px 60px;
}
.body-faq .head-title .form-control {
    display: inline;
    border-radius: 0;
    padding: 25px 4%;
    width: 70%;
}
.body-faq .form-control:focus {
    border-color: #6d757b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(92, 100, 107, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88, 94, 99, 0.6);
}
/* .body-faq form:before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #ddd;
    position: relative;
    top: 40px;
    left: -33%;
} */
.body-faq .main_faq_area {
    padding: 0 40px;
}
.body-faq .main_faq_area ul li {
    padding-bottom: 20px;
}
.body-faq h4 {
    font-weight: bold
}
/* ========= END FAQ Page ========= */

/* ========= Terms Page ========= */
.body-terms {
    background-color: #ffffff;
    height: auto;
}
.main_terms_area h3 {
    margin-bottom: 20px;
}
.main_terms_area .nav a {
    text-decoration: none;
    color: #6c757d;
    padding-right: 10px;
}
.main_terms_area .nav a:hover,
.main_terms_area .nav a.active {
    text-decoration: none;
    color: #007bff;
}
.main_terms_area .head-title {
    padding-top: 5%;
}
.main_terms_area .head-title span {
    font-size: 29px;
    font-weight: bold;
}
.terms-point ul {
    padding: 0;
}
.terms-point ul li {
    list-style: none;
    padding-bottom: 20px;
}
.terms-point ul li:nth-child(1)::before { content: "1." }
.terms-point ul li:nth-child(2)::before { content: "2." }
.terms-point ul li:nth-child(3)::before { content: "3." }
.terms-point ul li:nth-child(4)::before { content: "4." }
.terms-point ul li span,
.terms-point ul li::before {
    font-weight: bold;
    font-size: 17px;
}
.terms-point ul li p {
    padding-left: 20px;
    font-size: 16px;
}
/* ========= END Safety & Trust Page ========= */

/* ========= Contact Us Page ========= */
.body-contact {
    background-color: #ffffff;
    color: #232f4a;
    height: 100vh;
    padding: 30px 0px 60px;
}
.body-contact .head-title {
    padding-bottom: 40px
}
.main_contact_area {
    text-align: center;
}
.main_contact_area input,
.main_contact_area select,
.main_contact_area textarea,
.main_contact_area button {
    border-radius: 0;
}
.main_contact_area input,
.main_contact_area textarea,
.main_contact_area select {
    padding: 20px;
}
.main_contact_area input,
.main_contact_area select,
.main_contact_area textarea,
.main_contact_area button {
    border: 2px solid #232f4b;
    color: #232f4b;
    font-size: 20px;
}
.main_contact_area input::-webkit-input-placeholder,
.main_contact_area select::-webkit-input-placeholder,
.main_contact_area textarea::-webkit-input-placeholder {
    color: #232f4b;
    font-size: 20px;
}
.main_contact_area input:focus,
.main_contact_area select:focus,
.main_contact_area textarea:focus {
    border-color: #232f4a;
}
.main_contact_area input
.main_contact_area button {
    padding: 10px 20px;
    margin-top: 10px;
}
.main_contact_area select {
    padding: 10px;
    height: 25%;
}
.main_contact_area textarea {
    height: 210px;
}
.main_contact_area button {
    padding: 10px 40px;
}
.main_contact_area button:hover {
    color: #fff;
    background-color: #212d46;
    border-color: #ffffff;
    transition: all 0.4s ease;
}
/* ========= END Contact Us Page ========= */

/* ========= Safety & Trust Page ========= */
/* Safety Trust */
.safety {
    background-color: #fff;
    padding: 40px 0px;
    height: 400px;
}
.main_safety_area h3 {
    padding-bottom: 30px;
}
.main_safety_area h3,
.main_safety_area h4 {
    text-align: center;
    font-weight: bold;
}

/* Testimonoial */
.testi {
    background-color: #fff;
    padding: 70px 0px;
}
.testi div.text-center h3 {
    padding-bottom: 50px;
}
.testi .testimonial {
    margin: 0 15px
}
.testi .testimonial .content:after {
    content: "";
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 16%;
}
.testi .testimonial .content {
    border: 2px solid #000;
    padding: 0 30px 25px;
    margin-bottom: 15px;
    position: relative;
    background: #f6f6f6;
    min-height: 100px;
}
.testi .testimonial i {
    font-size: 20px;
    position: relative;
    top: 25px;
}
.testi .testimonial .description {
    margin-bottom: 0;
    padding-left: 30px;
}
.testi .testimonial-pic {
    float: left;
}
.testi .testimonial-pic>img {
    width: 80px !important;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    margin-left: 40px;
}
.testi .testimonial .testimonial-review {
    margin: 3px 0 0 15px;
    float: left;
}
.testi .testimonial .testimonial-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}
.testi .testimonial>.testimonial-review span {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

/* Noompang Checklist */
.checklist {
    background-color: #fff;
    padding: 60px 0px 60px;
}
.main_checklist_area h3 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}
.main_checklist_area ul {
    padding: 0;
    padding-top: 20px;
}
.main_checklist_area ul li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 20px;
}
.main_checklist_area ul {
    list-style: none;
}
.main_checklist_area h4{
    font-weight: bold;
    font-size: 22px;
}
.main_checklist_area ul li span {
    font-weight: bold;
    padding-left: 6px;
}
.main_checklist_area ul li p {
    padding-left: 30px;
}

/* Tips to Noompang User */
.tips {
    background-color: #fff;
    padding: 60px 0;
}
.tips h4 {
    padding-left: 20px;
    font-weight: bold;
}
.tips h4.title-1:before {
    content: "\f193";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 15px;
}
.tips h4.title-2:before {
    content: "\f2be";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 15px;

}
.main_tips_area div {
    padding: 0 50px;
}
/* Label Link */
.label-link {
    background-color: #1b9dd7;
    padding: 20px 0;
}
.label-link .main_label_area h3 a:hover {
    text-decoration: none;
}

/* ========= END Safety & Trust Page ========= */

/* FOOTER */
#site-footer{
    background-color: #212d46
}
.foot-social {
    color: white;
}
.foot-social section {
    margin-bottom: 70px;
}
.main_foot_area {
    padding-top: 30px;
}
.main_foot_area {
    font-weight: bold;
}
.waze-text{
    font-size: 3.4em;
    font-weight: bold;
}
.foot-social p {
    padding-top: 17px;
    padding-bottom: 15px;
}
ul.label_social_link {
    padding: 0;
}
.label_social_link li{
    display: inline-block;
    padding-right: 20px;
}
.label_social_link li a i {
    font-size: 32px;
    color: #fff;
}
.foot-social .form-control {
    background-color: #212d46;
    border: 2px solid #fff;
    color: #fff;
    width: 70%;
}
.foot-social .form-control:focus {
    box-shadow: none;
}
.link-social {
    padding: 0;
    padding-top: 30px
}
.link-social li {
    list-style: none;
    padding-bottom: 10px
}
.link-social li a {
    color: #00f3ffb8 !important;
    font-weight: bold;
}
.link-social li a:hover {
    text-decoration: none;
}

.footer section {
    font-weight: bold;
    padding: 15px 0 5px;
    color: #88eccc47 !important;
    border-top: 2px solid #88eccc47;
}
.footer section .left-col ,
.footer section .right-col {
    padding: 0;
}
.footer .left-col {
    text-align: left;
}
.footer .right-col {
    text-align: right;
}
.footer .right-col ul li {
    display: inline-block;
    padding-left: 10px;
    text-decoration: underline;
    font-size: 12px;
}
.footer .right-col ul li a {
    color: #88eccc47 !important;
}



/* parallax content */
@media ( min-width: 990px) {

    #site-content {
        min-height: 100vh;
        position: relative;
        z-index: 1;
    
        -webkit-box-shadow: #000 0px 19px 35px 0;
        -moz-box-shadow: #000 0px 19px 35px 0;
        box-shadow: #000 0px 19px 35px 0;
    }

    #site-footer {
        padding: 25px 0;
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
    }

    html, body {
        padding: 0;
        margin: 0;
    }

    #site-footer {
        min-height: 5vw;
        
    }
}
@media (max-width: 995px) {
    .body-faq {
        height: auto;
    }
}
@media (min-width:1000px ) {
    .body-faq {
        height: 100vh;
    }
}