@import url('https://fonts.googleapis.com/css?family=Cabin:700|Josefin+Slab:400,600,700');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #f0f1f8;
}
h1 {
    font-size: 7em;
    font-weight: bold;
}
h2 {
    font-size: 4.4em;
    font-weight: bold;
}
h3 {
    font-size: 3em;
    font-weight: bold;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* Navbar */
.navbar {
    margin-bottom: 0px;
}
.navbar-collapse {
    background-color: rgb(255, 255, 255)
}
.navbar .nav a {
    color: #232f4a !important;
    font-size: 20px;
}
.navbar .navbar-brand img {
    width: 26px;
}
.nav i {
    font-size: 25px;
}
.navbar .nav li a {
    font-weight: bold;
}
.navbar #nav > .active > a {
    color: #1b9dd7 !important;
    background-color: #fff;
    border-bottom: 3px solid #1b9dd7;
}
.navbar .nav li:hover a {
    color: #1b9dd7 !important;
    transition: all 0.4s ease;
}

/* Home Banner */
.home-banner {
    background: url('../img/banner-home.png') bottom right;
    background-color: #f0f1f8;
    background-size: cover;
    height: 678px;
}
.logo-nompang {
    width: 45%;
}
.main_banner_area {
    padding-top: 90px;
    color: #fff;
}
.main_banner_area h2 {
    margin-bottom: 20px;
}
.img-promo {
    width: 250px;
    margin-right: 20px
}

/* Feature */
.feature {
    background-color: #f0f1f8;
    color: #212d46;
    padding: 0 0 50px;
}
.main_feature_area span.title-fitur {
    position: relative;
    left: 15%;
    padding-top: 8%;
    font-size: 4.4em;
    font-weight: bold;
}
.main_feature_area div.mobile strong {
    font-size: 2em;
}
.main_feature_area strong span {
    background-color: #212d46;
    color: #fff;
    padding: 1px 9px;
    border-radius: 50%;
}

/* Core Value */
.core-value {
    background-color: #ffffff;
    color: #232f4a;
    padding: 70px 0px;
}
.core-value h3 {
    padding-bottom: 70px;
}
.core-value span {
    font-size: 30px;
    font-weight: 700;
}
.core-value p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.core-value span {
    font-family: 'Cabin', sans-serif;
}
.core-value p.desc {
    padding: 15px 0px;
}
.core-value div.text-right {
    padding-right: 15px;
    font-size: 17px;
}
.core-value .fitur_logo {
    width: 60px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.core-value .avatar_img {
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;
}

.core-value div.text-right ul li {
    display: inline-block;
}

/* Video Promo */
.video-area {
    position: relative;
    background: url('../img/video-bg.png') no-repeat center center/cover;
  }
  
  .video-area .overlay-bg {
    background: #232f48ad;
  }
  
  .video-area .video-content {
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .video-area .video-content a {
    display: inline-block;
    margin-bottom: 20px;
  }
/* Most Popular Routes */
.popular {
    background-color: #fff;
    color: #212d46;
    padding: 80px 0px;
}
.popular h3 {
    text-align: center;
    padding-bottom: 50px;
}
.popular .card {
    margin: 0 40px;
    border-radius: 30px !important;
    box-shadow:1px 5px 13px 4px #888888
}
.popular .card-title {
    position: absolute;
    top: 10%;
    left: 25%;
}
.popular .card-title p {
    font-weight: bold;
    color: #fff;
    font-size: 3em;
}
.popular .card-img {
    border-radius: 27px 27px 0 0;
}
.popular .card-body p {
    font-weight: bold;
    font-size: 2.5em;
    padding: 15px 50px 20px;
}

/* ========= Safety & Trust Page ========= */
/* Safety Trust */
.safety {
    background-color: #fff;
    padding: 40px 0px;
}
.main_safety_area h3 {
    padding-bottom: 30px;
}
.main_safety_area h3,
.main_safety_area h4 {
    text-align: center;
    font-weight: bold;
}

/* Testimonoial */
.testi {
    background-color: #fff;
    padding: 70px 0px;
}
.testimonial{
    background: #212d46;
    padding: 30px 40px 30px 90px;
    margin: 50px 20px 50px 100px;
    border-radius: 0 85px 85px;
    color: #fff;
    position: relative;
}
.testimonial .pic{
    width: 190px;
    height: 190px;
    line-height: 200px;
    border-radius: 50%;
    border: 14px solid #212d46;
    position: absolute;
    top: -15px;
    left: -100px;
    overflow: hidden;
}
.testimonial .testimonial-title{
    display: inline-block;
    width: 35%;
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    margin: 0;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.testimonial .testimonial-title small{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
}
.testimonial .description{
    display: inline-block;
    width: 65%;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding: 28px 0 28px 28px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
}
.testimonial .description:after{
    content: "\f10e";
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 5px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span{
    width: 7px;
    height: 7px;
    background: #212d46;
    border: 4px solid #212d46;
    box-sizing: content-box;
}
.owl-theme .owl-controls .owl-page span{
    border: 4px solid transparent;
    background: #bcbcbc;
}
@media only screen and (max-width: 767px){
    .testimonial{
        border-radius: 40px;
        margin: 90px 15px 0;
        padding: 100px 40px 30px 40px;
    }
    .testimonial .pic{
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .testimonial .testimonial-title{
        width: 100%;
        float: none;
        border-right: none;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .testimonial .description{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .testimonial{ padding: 100px 30px 30px; }
}

/* Noompang Checklist */
.checklist {
    background-color: #fff;
    padding: 60px 0px 30px;
}
.main_checklist_area h3 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}
.main_checklist_area ul {
    padding: 0;
    padding-top: 20px;
}
.main_checklist_area ul li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 20px;
}
.main_checklist_area ul {
    list-style: none;
}
.main_checklist_area h4{
    font-weight: bold;
    font-size: 22px;
}
.main_checklist_area ul li span {
    font-weight: bold;
    padding-left: 6px;
}
.main_checklist_area ul li p {
    padding-left: 30px;
}

/* Tips to Noompang User */
.tips {
    background-color: #fff;
    padding: 60px 0;
}
.tips h4 {
    padding-left: 20px;
    font-weight: bold;
}
.tips h4.title-1:before {
    content: "\f193";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 15px;
}
.tips h4.title-2:before {
    content: "\f2be";
    font-family: "FontAwesome";
    font-size: 20px;
    padding-right: 15px;

}
.main_tips_area div {
    padding: 0 50px;
}
.tips ul li {
    font-size: 
}

/* Label Link */
.label-link {
    background-color: #1b9dd7;
    padding: 20px 0;
}
.label-link .main_label_area h3 a:hover {
    text-decoration: none;
}

/* ========= END Safety & Trust Page ========= */


/* ========= FAQ Page ========= */
.head-title {
    text-align: center;
    padding-bottom: 40px;
}
.body-faq {
    background-color: #ffffff;
    color: #232f4a;
    height: 100vh;
    padding: 30px 0px 60px;
}
.body-faq .head-title .form-control {
    display: inline;
    border-radius: 0;
    padding: 25px 4%;
    width: 70%;
}
.body-faq .form-control:focus {
    border-color: #6d757b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(92, 100, 107, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88, 94, 99, 0.6);
}
.body-faq form:before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #ddd;
    position: relative;
    top: 40px;
    left: -33%;
}
.body-faq .main_faq_area {
    padding: 0 40px;
}
.body-faq .main_faq_area ul li {
    padding-bottom: 20px;
}
.body-faq h4 {
    font-weight: bold
}
/* ========= END FAQ Page ========= */


/* ========= Contact Us Page ========= */
.body-contact {
    background-color: #ffffff;
    color: #232f4a;
    height: 100vh;
    padding: 30px 0px 60px;
}
.body-contact .head-title {
    padding-bottom: 40px
}
.main_contact_area {
    text-align: center;
}
.main_contact_area input,
.main_contact_area select,
.main_contact_area textarea,
.main_contact_area button {
    border-radius: 0;
}
.main_contact_area input,
.main_contact_area textarea,
.main_contact_area select {
    padding: 20px;
}
.main_contact_area input,
.main_contact_area select,
.main_contact_area textarea,
.main_contact_area button {
    border: 2px solid #232f4b;
    color: #232f4b;
    font-size: 20px;
}
.main_contact_area input::-webkit-input-placeholder,
.main_contact_area select::-webkit-input-placeholder,
.main_contact_area textarea::-webkit-input-placeholder {
    color: #232f4b;
    font-size: 20px;
}
.main_contact_area input:focus,
.main_contact_area select:focus,
.main_contact_area textarea:focus {
    border-color: #232f4a;
}
.main_contact_area input
.main_contact_area button {
    padding: 10px 20px;
    margin-top: 10px;
}
.main_contact_area select {
    padding: 10px;
    height: 25%;
}
.main_contact_area textarea {
    height: 210px;
}
.main_contact_area button {
    padding: 10px 40px;
}
.main_contact_area button:hover {
    color: #fff;
    background-color: #212d46;
    border-color: #ffffff;
    transition: all 0.4s ease;
}
/* ========= END Contact Us Page ========= */



/* FOOTER */
#site-footer{
    background-color: #212d46
}
.foot-social {
    color: white;
}
.foot-social section {
    margin-bottom: 70px;
}
.main_foot_area {
    padding-top: 30px;
}
.main_foot_area {
    font-weight: bold;
}
.waze-text{
    font-size: 3.4em;
    font-weight: bold;
}
.foot-social p {
    padding-top: 17px;
    padding-bottom: 15px;
}
ul.label_social_link {
    padding: 0;
}
.label_social_link li{
    display: inline-block;
    padding-right: 20px;
}
.label_social_link li a i {
    font-size: 32px;
    color: #fff;
}
.foot-social .form-control {
    background-color: #212d46;
    border: 2px solid #fff;
    color: #fff;
    width: 70%;
}
.foot-social .form-control:focus {
    box-shadow: none;
}
.link-social {
    padding: 0;
    padding-top: 30px
}
.link-social li {
    list-style: none;
    padding-bottom: 10px
}
.link-social li a {
    color: #00f3ffb8 !important;
    font-weight: bold;
}
.link-social li a:hover {
    text-decoration: none;
}

.footer section {
    font-weight: bold;
    padding: 15px 0 5px;
    color: #88eccc47 !important;
    border-top: 2px solid #88eccc47;
}
.footer section .left-col ,
.footer section .right-col {
    padding: 0;
}
.footer .left-col {
    text-align: left;
}
.footer .right-col {
    text-align: right;
}
.footer .right-col ul li {
    display: inline-block;
    padding-left: 10px;
    text-decoration: underline;
    font-size: 12px;
}
.footer .right-col ul li a {
    color: #88eccc47 !important;
}



/* parallax content */
@media ( min-width: 990px) {

    #site-content {
        min-height: 100vh;
        position: relative;
        z-index: 1;
    
        -webkit-box-shadow: #000 0px 19px 35px 0;
        -moz-box-shadow: #000 0px 19px 35px 0;
        box-shadow: #000 0px 19px 35px 0;
    }

    #site-footer {
        padding: 25px 0;
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
    }

    html, body {
        padding: 0;
        margin: 0;
    }

    #site-footer {
        min-height: 5vw;
        
    }
}
@media (max-width: 995px) {
    .body-faq {
        height: auto;
    }
}
@media (min-width:1000px ) {
    .body-faq {
        height: 100vh;
    }
}